/*
 * RemarkJS stylesheet for BrabantScala October 2016 meetup.
 *
 * 30-09-2016
 * Complements of Joost den Boer / DiversIT Europe
 */
.logo {
  font-size: 105px;
  width: 610px;
  height: 82px;
  position: fixed;
  left: -263px;
  top: 263px;
  padding: 10px;
  color: white;
  transform: rotate(270deg);
}
.logo:after {
  content: "Brabant.Scala";
  /*text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 0 0 2px black, 0 0 -2px black;*/
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: red;
  position: relative;
  bottom: 20px;
}
.white {
}
.black {
  background-image: url(../../images/red-white.png);
}
.footer {
  background-color: #da201a;
}
