/*
 * RemarkJS stylesheet common style for slides.
 *
 * 30-09-2016
 * Complements of Joost den Boer / DiversIT Europe
 */
 .normal {
   font-size: 40px;
 }
 .smaller {
   font-size: 30px;
 }
 .title {
   font-size: 65px;
   text-align: center;
   position: relative;
   top: 120px;
 }
 .subtitle {
   font-size: 45px;
 }
.remark-slide-content {
  font-size: 24px;
}
.red {
  color: red;
}
.bold {
  font-weight: bold;
}
.remark-slide-content {
  padding-left: 6em;
}
.block {
  display: block;
}
span.block img {
  position: absolute;
  top: 130px;
  left: 20%;
  width: 65%;
}
.white {
}
.black {
}
.footer {
  position: fixed;
  bottom: 0px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -144px;
  width: 100%;
  font-weight: bold;
  font: 28px arial;
}
.remark-slide-number {
  color: white;
}
.hashtag {
  float: left;
}
.twitter {
  float: right;
  padding-right: 100px;
}
.question {
  font-size: 120px;
  text-align: center;
  display: block;
  margin-top: 12%
}
