/*
 * RemarkJS stylesheet for JFall 2016 conference.
 *
 * 30-09-2016
 * Complements of Joost den Boer / DiversIT Europe
 */
.logo {
  background-origin: content-box; /* to have padding with background image */
  background-size: contain;       /* to keep image in box and auto size it */
  background-repeat: no-repeat;
  width: 82px;
  height: 608px;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 10px;
  background-image: url(../../images/jfall-logo-big.jpg);
}
.logo:after {
  content:url(../../images/nljug-classic-logo.png);
  position: relative;
  top: 100px;
  width: 20px;
}
.white {
}
.black {
}
.footer {
  background-color: #FF7000;
}
